/* ========== Poppins ========== */
@font-face {
    font-style: normal;
    font-weight: 900;
    src:
        url("Poppins/Poppins-Black.woff2") format("woff2"),
        url("Poppins/Poppins-Black.woff") format("woff");
    font-family: "Poppins";
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-weight: bold;
    src:
        url("Poppins/Poppins-Bold.woff2") format("woff2"),
        url("Poppins/Poppins-Bold.woff") format("woff");
    font-family: "Poppins";
    font-display: swap;
}

@font-face {
    font-style: italic;
    font-weight: 900;
    src:
        url("Poppins/Poppins-BlackItalic.woff2") format("woff2"),
        url("Poppins/Poppins-BlackItalic.woff") format("woff");
    font-family: "Poppins";
    font-display: swap;
}

@font-face {
    font-style: italic;
    font-weight: bold;
    src:
        url("Poppins/Poppins-BoldItalic.woff2") format("woff2"),
        url("Poppins/Poppins-BoldItalic.woff") format("woff");
    font-family: "Poppins";
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-weight: bold;
    src:
        url("Poppins/Poppins-ExtraBold.woff2") format("woff2"),
        url("Poppins/Poppins-ExtraBold.woff") format("woff");
    font-family: "Poppins";
    font-display: swap;
}

@font-face {
    font-style: italic;
    font-weight: bold;
    src:
        url("Poppins/Poppins-ExtraBoldItalic.woff2") format("woff2"),
        url("Poppins/Poppins-ExtraBoldItalic.woff") format("woff");
    font-family: "Poppins";
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-weight: 200;
    src:
        url("Poppins/Poppins-ExtraLight.woff2") format("woff2"),
        url("Poppins/Poppins-ExtraLight.woff") format("woff");
    font-family: "Poppins";
    font-display: swap;
}

@font-face {
    font-style: italic;
    font-weight: 200;
    src:
        url("Poppins/Poppins-ExtraLightItalic.woff2") format("woff2"),
        url("Poppins/Poppins-ExtraLightItalic.woff") format("woff");
    font-family: "Poppins";
    font-display: swap;
}

@font-face {
    font-style: italic;
    font-weight: normal;
    src:
        url("Poppins/Poppins-Italic.woff2") format("woff2"),
        url("Poppins/Poppins-Italic.woff") format("woff");
    font-family: "Poppins";
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-weight: 300;
    src:
        url("Poppins/Poppins-Light.woff2") format("woff2"),
        url("Poppins/Poppins-Light.woff") format("woff");
    font-family: "Poppins";
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-weight: 600;
    src:
        url("Poppins/Poppins-SemiBold.woff2") format("woff2"),
        url("Poppins/Poppins-SemiBold.woff") format("woff");
    font-family: "Poppins";
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-weight: normal;
    src:
        url("Poppins/Poppins-Regular.woff2") format("woff2"),
        url("Poppins/Poppins-Regular.woff") format("woff");
    font-family: "Poppins";
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-weight: 500;
    src:
        url("Poppins/Poppins-Medium.woff2") format("woff2"),
        url("Poppins/Poppins-Medium.woff") format("woff");
    font-family: "Poppins";
    font-display: swap;
}

@font-face {
    font-style: italic;
    font-weight: 300;
    src:
        url("Poppins/Poppins-LightItalic.woff2") format("woff2"),
        url("Poppins/Poppins-LightItalic.woff") format("woff");
    font-family: "Poppins";
    font-display: swap;
}

@font-face {
    font-style: italic;
    font-weight: 500;
    src:
        url("Poppins/Poppins-MediumItalic.woff2") format("woff2"),
        url("Poppins/Poppins-MediumItalic.woff") format("woff");
    font-family: "Poppins";
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-weight: 100;
    src:
        url("Poppins/Poppins-Thin.woff2") format("woff2"),
        url("Poppins/Poppins-Thin.woff") format("woff");
    font-family: "Poppins";
    font-display: swap;
}

@font-face {
    font-style: italic;
    font-weight: 600;
    src:
        url("Poppins/Poppins-SemiBoldItalic.woff2") format("woff2"),
        url("Poppins/Poppins-SemiBoldItalic.woff") format("woff");
    font-family: "Poppins";
    font-display: swap;
}

@font-face {
    font-style: italic;
    font-weight: 100;
    src:
        url("Poppins/Poppins-ThinItalic.woff2") format("woff2"),
        url("Poppins/Poppins-ThinItalic.woff") format("woff");
    font-family: "Poppins";
    font-display: swap;
}
/* ========== End Poppins ========== */
